@using PiF.Models
@model NewPiFModel
@*<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.23/jquery-ui.min.js"></script>*@
<script src="http://cdn.kendostatic.com/2012.2.710/js/kendo.web.min.js"> </script>
<script src="http://cdn.kendostatic.com/2012.2.710/js/kendo.aspnetmvc.min.js"> </script>
<link rel="stylesheet" href="http://cdn.kendostatic.com/2012.2.710/styles/kendo.common.min.css" />
<link rel="stylesheet" href="http://cdn.kendostatic.com/2012.2.710/styles/kendo.metro.min.css" />
@*<link rel="stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.23/themes/ui-lightness/jquery-ui.css" />*@

<script type="text/javascript">

    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function(key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@this.ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<p>
    @this.Html.Label("Grid", "Add the games you want to PiF")
</p>

<div id="grid">
</div>

@(this.Html.Kendo().Grid<PiFGame>().Name("NewGameGrid")
.ToolBar(toolbar => toolbar.Create())
.DataSource(dataSource => dataSource.Ajax().Events(events => events.Error("error_handler")).Model(model => model.Id(p => p.ID))
        .Create(update => update.Action("Create", "NewGameGrid")).Read(read => read.Action("Read", "NewGameGrid"))
        .Update(update => update.Action("Update", "NewGameGrid")).Destroy(update => update.Action("Delete", "NewGameGrid"))
        .ServerOperation(false).Model(model => model.Id(p => p.ID)))
        .Columns(columns =>
          {
              columns.Bound(p => p.Name).Width(400).EditorTemplateName("GameList");
              columns.Bound(p => p.Count).Width(80);
              columns.Bound(p => p.PointWorth).Width(80);
              columns.Bound(p => p.SteamID).Title("Steam ID").Width(80);
              columns.Command(commands =>
                  {
                      commands.Edit();
                      commands.Destroy();
                  }).Width(170);
          }).Editable(editing => editing.Mode(GridEditMode.InLine)).Pageable().Scrollable().Sortable().BindTo(SessionNewGamesRepository.All()))
<br />
@this.Html.ValidationMessage("Grid")
<section id="newPiFForm">
    @using (this.Html.BeginForm("New", "PiF"))
    {
        <fieldset>
            <legend>Sign in</legend>
            <ol>
                <li>
                    @this.Html.LabelFor(m => m.ThreadTitle)
                    @this.Html.TextBoxFor(m => m.ThreadTitle, new { maxlength = 300, width = "50%" })
                    @this.Html.ValidationMessageFor(m => m.ThreadTitle)
                </li>
                <li>
                    @this.Html.LabelFor(m => m.SelfText)
                    @this.Html.TextAreaFor(m => m.SelfText, new { maxlength = 900 })
                    @this.Html.ValidationMessageFor(m => m.SelfText)
                </li>
                @if (this.Model.CaptchaRequired)
                {
                    <li>
                        @this.Html.LabelFor(m => m.Captcha)
                        <img src="@this.Url.Content("http://reddit.com/captcha/" + this.Session["CaptchaID"] + ".png")" />
                        <div class="captcha-field">
                            @this.Html.TextBoxFor(m => m.Captcha, new { maxlength = 8 })
                        </div>
                        @this.Html.ValidationMessageFor(m => m.Captcha);
                    </li>
                }
            </ol>
            <input type="submit" value="Create PiF" class="button-blue" />
        </fieldset>
    }
</section>