@using PiF.Models
@model PiF.Models.Thread

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Thread</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ThingID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThingID)
    </div>
</fieldset>
<p>
    @{ bool canEdit = Model.ThreadGames.Any(tg => tg.WinnerID == null); }
    @if (AccountHelper.CurrentUser != null && Model.UserID == AccountHelper.CurrentUser.id && canEdit)
    {
<text>@Html.ActionLink("Edit", "Edit", new { Model.ThingID }) | </text>
    }
    @Html.ActionLink("Back to List", "Me", "Account")
</p>