@using System.Data.SqlTypes
@using PiF
@using PiF.Models
@model PiFListModel

@section scripts {
    @Scripts.Render("~/bundles/me")
    <script type="text/javascript">$(document).ready(function () { jQuery("time.timeago").timeago(); });
        function GetSelfText(thingId) {
            $.getJSON("http://www.reddit.com/r/playitforward/comments/" + thingId + "/.json?jsonp=?", { id: thingId }, function (data) {
                var tempHtml = $('<div/>').html(data[0].data.children[0].data.selftext_html).text();
                $("#selfText-" + thingId).html(tempHtml);
            }).success(function () {
                $('div.md').expander({ slicePoint: 250 });
            });
        }
    </script>
}

<div class="pif">
    <hgroup class="title">
        <h2 style="margin-bottom: 10px">@Html.DisplayFor(model => model.Thread.Title)<span class="pifscore">@Model.Games.Sum(x => x.PointWorth * x.Count)</span></h2>
    </hgroup>
    @if (@Model.GameCount > 1)
    {
        <script type="text/javascript">
            $(function () {
                $('#slider-@Model.Thread.ThingID').bxSlider({
                    displaySlideQty: 4,
                    moveSlideQty: 2,
                    auto: true,
                    controls: false,
                    autoHover: true,
                    infiniteLoop: false
                });
            });
        </script>
    }

    <ul class="games" id="slider-@Model.Thread.ThingID" style="width:250px">
        @foreach (var game in Model.Games)
        {
            <li>
                <img src="@game.ImageUrl" alt="@game.Name" title="@game.Name" height="69" width="184" /></li>
        }
    </ul>
    <div class="description" id="selfText-@Model.Thread.ThingID">
        <script type="text/javascript">
            $(document).ready(function () { GetSelfText('@Model.Thread.ThingID'); });
        </script>
    </div>
    <div class="clearBoth"></div>

    @if (@Model.Thread.EndDate != SqlDateTime.MinValue)
    {
        <div style="float: right; padding: 7px;" class="createdTime">Closed <strong>@Html.TimeAgo(@Model.Thread.EndDate)</strong></div>
    }
    else
    {
        <div style="float: right; padding: 7px;" class="createdTime">Created <strong>@Html.TimeAgo(@Model.Thread.CreatedDate)</strong></div>
        if (@Model.Thread.UserID == AccountHelper.CurrentUser.id && Model.Thread.ThreadGames.Any(tg => tg.WinnerID == null))
        {
        <text>@Html.ActionLink("Edit", "Edit", "PiF", new { @Model.Thread.ThingID }, null) | @Html.ActionLink("Complete", "Complete", "PiF", new { Model.Thread.ThingID }, null)</text>
        }

    }

</div>
