<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
        @Styles.Render("~/Content/themes/base/css", "~/Content/Site.css")
        @Styles.Render("~/Content/kendo")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("play it forward", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Rules & Guidelines", "Rules", "Home")</li>
                            <li>@Html.ActionLink("Support", "Support", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://steamcommunity.com/groups/playitforward/" class="steam" target="_blank">Steam Group</a></li>
                        <li><a href="http://reddit.com/r/playitforward" class="reddit" target="_blank">Reddit</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>