@model IEnumerable<PiF.Models.PiFDetailsModel>
<h2>@ViewBag.Title</h2>
@section HeadContent {
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.expander.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slides.min.jquery.js"></script>
    <link href="~/Content/slide.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(function () {
            $('#slides').slides({
                preload: true,
                preloadImage: '/Content/slider/loading.gif',
                play: 5000,
                pause: 2500,
                hoverPause: true,
            });
        });

        $(document).ready(function () {
            $('div.expandable p').expander({
                slicePoint: 300,  // default is 100
            });
        });

        jQuery(document).ready(function () {
            //jQuery.timeago.settings.allowFuture = true;
            jQuery("time.timeago").timeago();
        });
    </script>
}
@foreach (var item in Model)
{
    <div class="pif">
        <div class="left">
            <div class="title"><a href="/PiF/@item.Thread.ThingID">@item.Thread.Title</a></div>
            <div class="description">
                <div class="expandable">
                    <p>@item.SelfText</p>
                </div>
                <div class="createdBy" style="float: left;">Created by <a href="@string.Format("http://reddit.com/u/{0}", item.Thread.User.Username)">@item.Thread.User.Username</a> <span style="color: #b5b8be; margin-right: 5px;">on <strong>@Html.TimeAgo(@item.Thread.CreatedDate)</strong></span></div>
                <div class="clearBoth"></div>
            </div>
        </div>
            <div id="slides" class="left">
                      <div class="slides_container">
                          @foreach (var game in item.Thread.ThreadGames)
                          {
                              <div class="slide">
                                  <a href="@string.Format("http://store.steampowered.com/{0}/{1}/", @game.Game.IsSteamSubscription ? "sub" : "app", @game.Game.SteamID)" title="@game.Game.Name">
                                      <img src="@string.Format("http://cdn.steampowered.com/v/gfx/{0}/{1}/capsule_184x69.jpg", @game.Game.IsSteamSubscription ? "subs" : "apps", @game.Game.SteamID)" width="184" height="69" alt="@game.Game.Name"></a>
                              </div>
                          }
                      </div>
                  </div>
        <div class="clearBoth"></div>
    </div>
}