@using System.Data.SqlTypes
@using PiF
@using PiF.Models
@model IEnumerable<PiF.Models.PiFListModel>

@{ ViewBag.Title = User.Identity.Name; }

@section scripts {@Scripts.Render("~/bundles/me")}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title</h2>
            </hgroup>
            <div class="games-given">Given @AccountHelper.CurrentUser.GivenCount</div>
            <div class="games-received">Received @AccountHelper.CurrentUser.ReceivedCount</div>
        </div>
    </section>
}
<p>
    @Html.ActionLink("Create New", "New", "PiF")
</p>

   <h2>Open giveaways</h2>
    @foreach (var open in Model)
    {
        if (open.ClosedDate != SqlDateTime.MinValue)
        {
            continue;
        }
        <div style="width: 700px" class="pif">
            <h3 style="margin-bottom:10px"><a href="@Url.Action("View", "PiF", new { @open.ThingID })">@open.ThreadTitle</a><span class="pifscore">@open.Games.Sum(x => x.PointWorth * x.Count)</span></h3>
            @if (open.GameCount > 1)
            {
                <script type="text/javascript">
                    $(function() {
                        $('#slider-@open.ThingID').bxSlider({
                            displaySlideQty: 5,
                            moveSlideQty: 3,
                            auto: true,
                            controls: false,
                            autoHover: true,
                            infiniteLoop: false
                        });
                    });
                </script>
            }

            <ul class="games" id="slider-@open.ThingID">
                @foreach (var game in open.Games)
                {
                    <li><img src="@game.ImageUrl" alt="@game.Name" title="@game.Name" height="69" width="184" /></li>
                }
            </ul>

            <div class="clearBoth"></div>
            @Html.ActionLink("Edit", "Edit", "PiF", new { open.ThingID }, null) | @Html.ActionLink("Complete", "Complete", "PiF", new { open.ThingID }, null)
                        <div style="float:right" class="createdTime">Created <strong>@Html.TimeAgo(@open.CreatedDate)</strong>
            </div>
        </div>
    }

@*<div class="closed-giveaways">
    <h2>Closed giveaways</h2>
    @foreach (var closed in Model)
    {
        if (closed.ClosedDate == SqlDateTime.MinValue)
        {
            continue;
        }
        <div class="pif">
            <div class="left">
                <h3><a href="@Url.Action("View", "PiF", new { @closed.ThingID })">@closed.ThreadTitle</a><span class="pifscore">1</span></h3>
                <div class="createdTime">
                    Created <strong>@Html.TimeAgo(@closed.CreatedDate)</strong>
                    <div class="createdTime">
                        Ended <strong>@Html.TimeAgo(@closed.ClosedDate)</strong>
                    </div>
                    <div class="right">
                        @if (closed.GameCount > 1)
                        {
                            <script type="text/javascript">
                                $(function() {
                                    $('#slider-@closed.ThingID').bxSlider({
                                        displaySlideQty: 5,
                                        moveSlideQty: 5,
                                        auto: true,
                                        controls: false,
                                        autoHover: true,
                                        infiniteLoop: false
                                    });
                                });
                            </script>
                        }

                        <ul class="games" id="slider-@closed.ThingID">
                            @foreach (var game in closed.Games)
                            {
                                <li>
                                    <img src="@game.ImageUrl" alt="@game.Name" title="@game.Name" height="69" width="184" /></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@