@using System.Data.SqlTypes
@using PiF
@using PiF.Models
@model IEnumerable<PiFListModel>

@section scripts {@Scripts.Render("~/bundles/profile")
<script type="text/javascript">$(document).ready(function () { jQuery("time.timeago").timeago(); });</script>
}
@{
    User user = ViewBag.User;
    ViewBag.Title = user.Username;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper" style="height: 200px">
            <div class="profile">
                <div class="left">
                        <div class="avatar">
                        <img src="http://media.steampowered.com/steamcommunity/public/images/avatars/cd/cd8264f284534faa970d6a36f3089521212608a2_medium.jpg" width="64" height="64"></div>
         
                    <div class="userDetails">
                        <h2 class="title">@ViewBag.Title</h2>
                        <div class="row">
                            <div class="rowLeft">Last Online</div>
                            <div class="rowRight">Need to Implement</div>
                            <div class="clearBoth"></div>	
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="rowLeft">Registered</div>
                            <div class="rowRight">@Html.TimeAgo(user.RecordCreatedDate)</div>
                            <div class="clearBoth"></div>	
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="rowLeft">Giveaways Entered</div>
                            <div class="rowRight">@user.Entries.Count</div>
                            <div class="clearBoth"></div>	
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="rowLeft">Games Given</div>
                            <div class="rowRight">@user.GivenCount</div>
                            <div class="clearBoth"></div>	
                        </div>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="rowLeft">Games Received</div>
                            <div class="rowRight">@user.ReceivedCount</div>
                            <div class="clearBoth"></div>	
                        </div>

                    </div>
                </div>
                <div class="right">
                    <h2 class="title">Achievements</h2>
                    <div class="row">
                        <div class="rowLeft">Registered</div>
                        <div class="rowRight">@Html.TimeAgo(user.RecordCreatedDate)</div>
                        <div class="clearBoth"></div>	
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </section>
}
<p>
    @Html.ActionLink("Create New", "New", "PiF")
</p>

@if (Model.Any())
{
    <div class="open-giveaways">
        <h2>Open giveaways</h2>
        @foreach (var open in Model)
        {
            if (open.Thread.EndDate != SqlDateTime.MinValue)
            {
                continue;
            }
            <div class="pif">
                <h3 style="margin-bottom: 10px"><a href="@Url.Action("View", "PiF", new { @open.Thread.ThingID })">@open.Thread.Title</a><span class="pifscore">@open.Games.Sum(x => x.PointWorth * x.Count)</span></h3>
                @if (open.GameCount > 1)
                {
                    <script type="text/javascript">
                        $(function() {
                            $('#slider-@open.Thread.ThingID').bxSlider({
                                displaySlideQty: 4,
                                moveSlideQty: 4,
                                auto: true,
                                controls: false,
                                autoHover: true,
                                infiniteLoop: true
                            });
                        });
                    </script>
                }

                <ul class="games" id="slider-@open.Thread.ThingID" style="width: 250px">
                    @foreach (var game in open.Games)
                    {
                        <li><img src="@game.ImageUrl" alt="@game.Name" title="@game.Name" height="69" width="184" /></li>
                    }
                </ul>

                <div class="clearBoth"></div>
                @if (ViewBag.User.id == AccountHelper.CurrentUser.id)
                {
                    <text>@Html.ActionLink("Edit", "Edit", "PiF", new { open.Thread.ThingID }, null) | @Html.ActionLink("Complete", "Complete", "PiF", new { open.Thread.ThingID }, null)</text>
                }
                <div style="float: right; padding: 7px;" class="createdTime">Created <strong>@Html.TimeAgo(@open.Thread.CreatedDate)</strong></div>
                <div class="clearBoth"></div>
            </div>
        }</div>

    <div class="closed-giveaways">
        <h2>Closed giveaways</h2>
        @foreach (var closed in Model)
        {
            if (closed.Thread.EndDate == SqlDateTime.MinValue)
            {
                continue;
            }
            <div class="pif">
                <h3 style="margin-bottom: 10px"><a href="@Url.Action("View", "PiF", new { @closed.Thread.ThingID })">@closed.Thread.Title</a><span class="pifscore">@closed.Games.Sum(x => x.PointWorth * x.Count)</span></h3>
                @if (closed.GameCount > 1)
                {
                    <script type="text/javascript">
                        $(function() {
                            $('#slider-@closed.Thread.ThingID').bxSlider({
                                displaySlideQty: 4,
                                moveSlideQty: 4,
                                auto: true,
                                controls: false,
                                autoHover: true,
                                infiniteLoop: true
                            });
                        });
                    </script>
                }

                <ul class="games" id="slider-@closed.Thread.ThingID" style="width: 250px">
                    @foreach (var game in closed.Games)
                    {
                        <li><img src="@game.ImageUrl" alt="@game.Name" title="@game.Name" height="69" width="184" /></li>
                    }
                </ul>

                <div class="clearBoth"></div>
                <div style="float: right; padding: 7px;" class="createdTime">Ended <strong>@Html.TimeAgo(@closed.Thread.EndDate)</strong></div>
                <div class="clearBoth"></div>
            </div>
        }</div>
}