@model PiF.Models.Thread

@{
    ViewBag.TiPiF.tle = "View";
}

<h2>View</h2>

<fieldset>
    <legend>Thread</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ThingID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThingID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { Model.id }) |
    @Html.ActionLink("Back to List", "Me", "Account")
</p>