@model PiF.Models.Thread

@{
    this.ViewBag.Title = "View";
}

<h2>View</h2>

<fieldset>
    <legend>Thread</legend>

    <div class="display-label">
        @this.Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
        @this.Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @this.Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
        @this.Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
        @this.Html.DisplayNameFor(model => model.ThingID)
    </div>
    <div class="display-field">
        @this.Html.DisplayFor(model => model.ThingID)
    </div>
</fieldset>
<p>
    @this.Html.ActionLink("Edit", "Edit", new { this.Model.id }) |
    @this.Html.ActionLink("Back to List", "Index")
</p>